# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# .NET Backend
bin/
obj/
Properties/
br/
backup/
*.db
*.db-shm
*.db-wal
*Api.http
*.user
*.suo
*.pdb
*.dll
*.exe
*.cache
*.log
staticwebassets.*.json
launchSettings.json
appsettings.*.local.json
.env

# Angular Frontend - Compiled output
/dist
/tmp
/out-tsc
/bazel-out
*wwwroot/
*.png

# Node
/node_modules
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
*.idea
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
*.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular Miscellaneous
.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
