/* HEADER */
    /* Button to select a page in the HEADER */
    .selectedPageButton {
        background-color: white;
        border:none;
        padding: 3px;
        font-size: 16px;
        border-radius: 5px;
    }

    /* Styling for login and register buttons */
    .login-button, .register-button {
        padding: 5px;
    }

    /* Styling for login button */
    .login-button {
        background-color: violet;
        border: none;
    }

    /* Styling for register button */
    .register-button {
        background-color: lightgreen;
        border: none;
    }
