<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- login.component
--->

<div class="login-page">
    <app-header></app-header>
    <div class="card">
        <h4 class="title">Log In!</h4>

        <form (submit)="onSubmit($event, logemail.value, logpass.value)">
            <div class="field">
                <p>📧</p>
                <input #logemail autocomplete="off" id="logemail" placeholder="Email"
                    class="input-field" name="logemail" type="email" required>
            </div>

            <div class="field">
                <p>🔑</p>
                <input #logpass autocomplete="off" id="logpass" placeholder="Password"
                    class="input-field" name="logpass" type="password" required>
            </div>

            <button class="btn" type="submit">Login</button>
        </form>
    </div>
    <app-footer></app-footer>
</div>
