<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- login.component
--->

<div class="login-page">
    <app-header></app-header>
    <div class="login-content">
        <div class="card">
            <h4 class="title">Log in to your JEB Account</h4>
            <div class="field">
                <input #logemail autocomplete="off" id="logemail" placeholder="Email" class="input-field"
                    name="logemail" type="email" required>
            </div>
            <div class="field">
                <input #logpass autocomplete="off" id="logpass" placeholder="Password" class="input-field"
                    name="logpass" type="password" required>
            </div>
            <button type=button class="btn" (click)="login(logemail.value, logpass.value)">Log in</button>
        </div>
    </div>
    <app-footer></app-footer>
</div>
