<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- dashboard.component
--->

<div class="dashboard-page">
    <div class="container-data">
        <div class="card-info">
            <h2>Day view</h2>
            <div class="data-info">
                <p>125</p>
                <p class="data-daily-view">(+20%)</p>
            </div>
        </div>
        <div class="card-info">
            <h2>Day click</h2>
            <div class="data-info">
                <p>350</p>
                <p class="data-click">(+15%)</p>
            </div>
        </div>
        <div class="card-info">
            <h2>Startups published</h2>
            <div class="data-info">
                <p>50</p>
            </div>
        </div>
    </div>
    <div class="card-graph">
        <h2 class="title-canva">View per days</h2>
        <div class="card-canva">
            <canvas class="canvas" baseChart
            [type]="'line'"
            [data]="data()"
            [options]="options">
            </canvas>
        </div>
    </div>
</div>
