<section class="banner">
  <div class="banner-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
     alt="Incubateur" class="banner-image" />
    <div class="banner-text">
      <h1>Bienvenue à notre incubateur</h1>
      <p>
        Nous aidons les start-ups à se développer grâce à un accompagnement personnalisé,
        des ressources adaptées et un réseau solide.
      </p>
      <a routerLink="/contact" class="banner-button">Nous contacter</a>
    </div>
  </div>
</section>
