/*
** EPITECH PROJECT, 2025
** survivor
** File description:
** dashboard.component
*/

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    min-height: 200px;
    padding: 20px;
}
