/*
** EPITECH PROJECT, 2025
** survivor
** File description:
** home.component
*/

.home-page {
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;

    font-family: var(--font-text);
    box-sizing: border-box;
}

.incubator-presentation {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-surface);
    border-radius: 15px;
    box-sizing: border-box;
    background-color: var(--color-bg);
}

.incubator-title {
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 16px;
}

.incubator-description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--color-text-secondary);
    margin-bottom: 16px;
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
}

@media (max-width: 600px) {
    .incubator-presentation {
        padding: 12px;
    }

    .incubator-title {
        font-size: 1.6rem;
    }

    .incubator-description {
        font-size: 0.9rem;
    }
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

@media (max-width: 1000px) {
    .banner-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        gap: 2rem;
        margin: 0 auto;
        padding: 2rem;
    }
}

.no-startup-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    grid-column: span 2;
}
