<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- home.component
--->

<div class="home-page">
    <app-header></app-header>
    <app-hero [text]="'Home'" [customClass]="'hero'"></app-hero>
    <div class="incubator-presentation">
        <h2 class="incubator-title">Incubator title</h2>
        <p class="incubator-description">
            This is the presentation of the incubator
        </p>
        <p class="incubator-description">
            blablablablablablablablablablablablablablablablablabla
        </p>
    </div>

    <div class="banner-container" *ngIf="startups$ | async as startups">
        <ng-container *ngFor="let s of startups">
            <app-banner [title]="s.name" [text]="s.description" buttonText="View more" image="s."></app-banner>
        </ng-container>
    </div>

    <app-footer></app-footer>
</div>
