<div class="home-page">
    <app-header></app-header>
    <app-hero [text]="'Home'" [customClass]="'hero'"></app-hero>
    <div class="incubator-presentation">
        <h2 class="incubator-title">Incubator title</h2>
        <p class="incubator-description">
            This is the presentation of the incubator
        </p>
        <p class="incubator-description">
            blablablablablablablablablablablablablablablablablabla
        </p>
    </div>
    <app-banner title="examples of projects" text="tests" buttonText="View More" image="https://angular.io/assets/images/logos/angular/angular.png"></app-banner>
    <app-footer></app-footer>
</div>
