<div class="home-page">
    <app-header></app-header>
    <app-hero [text]="'Home'" [customClass]="'hero-home'"></app-hero>
    <div class="incubator-presentation">
        <p>This is the presentation of the incubator</p>
        <p>blablablablablablablablablablablablablablablablablabla</p>
    </div>
    <app-banner title="Welcome to the Incubator" text="tests" buttonText="View More" image="https://angular.io/assets/images/logos/angular/angular.png"></app-banner>
    <app-footer></app-footer>
</div>
