<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- header.component
--->

<div class="my-header">
    <div class="image-container">
        <app-image class="logo"
            src="favicon.ico"
            customClass="image-class" (clicked)="navigateTo('home')">
        </app-image>
    </div>
    <div class="theme-toggle-container">
        <label class="checkbox-wrapper-41">
            <input 
                type="checkbox" 
                [checked]="currentPalette === 'our'"
                (change)="onPaletteToggle($event)"
                aria-label="Toggle color palette">
        </label>
    </div>
    <div class="button-container">
        <app-select-page></app-select-page>
        <app-login-register></app-login-register>
    </div>
</div>
