<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- header.component
--->

<div class="my-header">
    <div class="image-container">
        <app-image class="logo"
            src="https://ih1.redbubble.net/image.4607708649.1907/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg"
            customClass="image-class" (clicked)="navigateTo('home')">
        </app-image>
    </div>
    <div class="checkbox-wrapper-41">
        <input type="checkbox">
    </div>
    <div class="button-container">
        <app-select-page></app-select-page>
        <app-login-register></app-login-register>
    </div>
</div>
