<div class="selectedPage">
    <my-button text="Home"            customClass="selectedPageButton"></my-button>
    <my-button text="Projects"        customClass="selectedPageButton"></my-button>
    <my-button text="News"            customClass="selectedPageButton"></my-button>
    <my-button text="Events"          customClass="selectedPageButton"></my-button>
    <my-button text="Advanced Search" customClass="selectedPageButton"></my-button>
    <my-button text="About"           customClass="selectedPageButton"></my-button>
</div>
