<div class="selectedPage">
    <my-button text="Home"            customClass="selectedPageButton" (clicked)="navigateTo('home')"></my-button>
    <my-button text="Projects"        customClass="selectedPageButton" (clicked)="navigateTo('projects')"></my-button>
    <my-button text="News"            customClass="selectedPageButton" (clicked)="navigateTo('news')"></my-button>
    <my-button text="Events"          customClass="selectedPageButton" (clicked)="navigateTo('events')"></my-button>
    <my-button text="Advanced Search" customClass="selectedPageButton" (clicked)="navigateTo('advanced-search')"></my-button>
    <my-button text="About"           customClass="selectedPageButton" (clicked)="navigateTo('about')"></my-button>
</div>
