<div class="about-page">
    <app-header></app-header>
    <app-hero text="About"></app-hero>
    <div class="about-text">
        <p class="about-description">We are the best team at Epitech !!</p>
    </div>
    <div class="our-team">
        <h2>Our Team</h2>
        <div class="about-grid">
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Prénom Nom" description="Je me décris"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Prénom Nom" description="Je me décris"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Prénom Nom" description="Je me décris"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Prénom Nom" description="Je me décris"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Prénom Nom" description="Je me décris"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Prénom Nom" description="Je me décris"></app-project>
        </div>
    </div>
    <div class="our-partner">
        <h2>Our Partners</h2>
        <div class="about-grid">
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Projet 1" description="Boite du futur"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Projet 2" description="Boite du futur"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Projet 3" description="Boite du futur"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Projet 4" description="Boite du futur"></app-project>
            <app-project customClass="team-card" src="https://maphotoportrait.fr/1840-thickbox_default/exemples-de-photos-de-profil-cv-linkedin-corporate-reussies.jpg" companyName="Epitech" projectName="Projet 5" description="Boite du futur"></app-project>
        </div>
    </div>
    <app-footer></app-footer>
</div>
