<div class="about-page">
    <app-header></app-header>
    <app-hero text="About"></app-hero>
    <div class="about-description">
        <p>This is the presentation of the incubator</p>
        <p>blablablablablablablablablablablablablablablablablabla</p>
    </div>
    <div class="our-team">
        <h2>Our Team</h2>
        <div class="about-grid">
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
        </div>
    </div>
    <div class="our-partner">
        <h2>Our Partners</h2>
        <div class="about-grid">
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
            <app-project customClass="team-card" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" companyName="5e dans la poche" projectName="Projet 1" description="BlaBlaBlaBleBleBleBlouBlouBlou"></app-project>
        </div>
    </div>
    <app-footer></app-footer>
</div>
