<!--
---- EPITECH PROJECT, 2025
---- survivor
---- File description:
---- projects.component
--->

<div class="projects-page">
    <app-header></app-header>
    <app-hero [text]="'Projects'" [customClass]="'hero-projects'"></app-hero>
    <app-project src="https://ih1.redbubble.net/image.4607708649.1907/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" companyName="company test" projectName="Angular Project" description="blablablablablablablablablablablablablablablablablabla"></app-project>
    <app-footer></app-footer>
</div>
